

body {
background:
radial-gradient(circle farthest-side at 0% 50%, #1d1d1d 23.5%,rgba(240,166,17,0) 0)21px 30px,
radial-gradient(circle farthest-side at 0% 50%,#0f0e0e 24%,rgba(240,166,17,0) 0)19px 30px,
linear-gradient(#1d1d1d 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#1d1d1d 0)0 0,
linear-gradient(150deg,#1d1d1d 24%,#0f0e0e 0,#0f0e0e 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#0f0e0e 0,#0f0e0e 76%,#1d1d1d 0)0 0,
linear-gradient(30deg,#1d1d1d 24%,#0f0e0e 0,#0f0e0e 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#0f0e0e 0,#0f0e0e 76%,#1d1d1d 0)0 0,
linear-gradient(90deg,#0f0e0e 2%,#1d1d1d 0,#1d1d1d 98%,#0f0e0e 0%)0 0 #1d1d1d;
background-size:40px 60px;
}


a{
  text-decoration:none;
}

.header{
  display: flex;
  position: fixed;
  left: 0; 
  top: 0; 
  bottom: 0;
  width: 15em;
  background: #181818;
  flex-direction: column;
  border-right: 0.1px solid #353434;
}

.logo{
  text-transform: lowercase;
  font: 300 2em sans;
  text-align: center;
  padding: 0; 
  margin: 0;
}

nav{
  margin-top: 200px
}

ul{
border-top: solid 1px;
color: rgb(141, 135, 135);
padding: 0; 
margin: 0;
}

li{
border-bottom: solid 1px;
font-size: 40px;
color: rgb(141, 135, 135);
text-decoration: none;
text-align: center;
list-style: none; 
padding: 20px;
margin: 0;
margin-top: 30px
}


.videoContainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  padding-right: 200px;
}

.Myself{ 
  padding-top: 70px;
  grid-area: 1 / 4 / 3 / 2; 
 color: rgb(71, 0, 0);
}

.customText{
color: #fff;
margin: 0;
font-weight: 400;
font-size: 0;
line-height: 3.7rem;
}

.TextAnim{
  font-size: 3rem;
  transition-duration:1.5s;
  transition-timing-function: cubic-bezier(0.64, 2.57, 0.67, 0.73); 
}

.TextAnim:hover{
  font-size: 5rem;
  transition-duration:0.7s;
   color: aqua;
}

video{
  border: 0.1px solid #696565;
}

.DonutVideo{
  margin-top: 120px;
  grid-area: 2 / 2 / 4 / 3; 
  padding: 15px;
}

.DonutVideo:hover{
  background-color: #696565;
}

.TripVideo{
  margin-top: 120px;
  grid-area: 2 / 3 / 4 / 4;
  padding: 15px;
}

.TripVideo:hover{
  background-color: #696565;
}

.AlbumVideo{
  margin-top: 120px;
  grid-area: 2 / 4 / 4 / 5;
  padding: 15px;
}

.AlbumVideo:hover{
  background-color: #696565;
}

