
body{
    background-color: black;
}

h1{
font-size: 75px;
display: flex;
justify-content: center;
}

.Img-of-me{
 
display: flex;
justify-content: center;
}

.bar{
    display: flex;
    justify-content: space-around;
    padding: 14px 280px;   
}



button
{
    font-size: 50px;
    color: azure;
    background-color: black;  
}

.TextProject{

display: flex;
flex-direction: row ;
justify-content:space-around;

}

.linkedin{
display: flex;
flex-direction: row;
justify-content:center;

}


.ImgProject{

    display: flex;
    flex-direction: row ;
    justify-content:space-around;
}


p{
    color: mintcream;
}

h1{
    color: mintcream;
}

h2{
    color: mintcream;
}

h3{
    color: mintcream;
}

ul{
    color: mintcream;
}